body {
     background: #E9E9E9;
     }
.contenedor {
     width:500px;
     height: 200px;
     background:#fff;
     padding:10px;
     border:10px solid #2C3E50;
     margin: 20px;

     display: -webkit-flex;
     display: ms-flexbox;
     display:flex;

/*    flex-direction:row;  Si es fila o column, puede ser reverse */
/*    flex-wrap: wrap-reverse;  para situarlos cuadros al final ya sea en filas o culmas como este */
/*    flex-flow: row wrap;  Este es un atajo para los 2 anteriores. */

     justify-content: center; 
     align-items:center;
     }

.elemento {
     flex-grow:1; /* Engrosamiento - shrink encojimiento   */
     margin:5px;
/*     width: 50px;   */
     flex-basis: 50px; /* sinonimo al widtho al heught dependiendo de la direccion del flex */
     height:50px;
     background : #009246; 
     text-align: center;
     }
